@using RealEstate_Mvc_.Dtos

@model StaffRequestModel

@{
    ViewBag.Title = "Create Staff";
}

<h2 class="text-center">Create Staff</h2>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form asp-action="CreateStaff" asp-controller="Staff" asp-action="createStaff" enctype="multipart/form-data" method="post" id="createStaffForm">

                        <div class="form-group">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Age"></label>
                            <input asp-for="Age" class="form-control" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Gender"></label>
                            <select asp-for="Gender" class="form-control">
                                <option value="">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="RoleName"></label>
                            <input asp-for="RoleName" class="form-control" />
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RoleDescription"></label>
                            <input asp-for="RoleDescription" class="form-control" />
                            <span asp-validation-for="RoleDescription" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ProfilePicture"></label>
                            <input asp-for="ProfilePicture" type="file" class="form-control" />
                            <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-4">
                            <button type="submit" asp-controller="Staff" asp-action="createStaff" class="btn btn-primary btn-block" id="createManagerButton">Create Staff</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

